<div class="container p-3 m-3">
  <form #generatePayrollForm="ngForm" (ngSubmit)="onSubmit(generatePayrollForm)">
    <button type="submit" class="btn btn-primary">Generate</button>
  </form>
  <div *ngIf="showDetails">
    <div *ngIf="sentSuccessfully" class="alert mt-3 alert-success">
      <strong>Success!</strong> Payroll generated successfully.
    </div>

    <div *ngIf="!sentSuccessfully" class="alert mt-3 alert-danger">
      <strong>Error!</strong> Payroll generation failed.
    </div>
  </div>
</div>
