<div class="d-flex flex-column justify-content-between" style="height: 100vh;">
    <div>
      <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Payroll Dashboard</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/dashboard/profile" routerLinkActive="active" class="nav-link" aria-current="page">
            <i class="bi bi-house-door me-2"></i>
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/leave-request" routerLinkActive="active" class="nav-link ">
            <i class="bi bi-calendar2-plus me-2"></i>
            Request a leave
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/leave-details" routerLinkActive="active" class="nav-link ">
            <i class="bi bi-file-earmark-text me-2"></i>
            Yearly Leave Details
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/dashboard/your-leave-details" routerLinkActive="active" class="nav-link ">
            <i class="bi bi-file-earmark-text me-2"></i>
            Your Applied Leave Status
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/payroll-details" routerLinkActive="active" class="nav-link ">
            <i class="bi bi-wallet2 me-2"></i>
            Payroll Details
          </a>
        </li>
        <li class="nav-item" *ngIf="!isEmployee()">
          <a routerLink="/dashboard/generate-payroll" routerLinkActive="active" class="nav-link ">
            <i class="bi bi-file-earmark-richtext me-2"></i>
            Generate Payroll
          </a>
        </li>
        <li class="nav-item" *ngIf="!isEmployee()">
          <a routerLink="/dashboard/create-employee" routerLinkActive="active" class="nav-link ">
            <i class="bi bi-person-plus me-2"></i>
            Create Employee
          </a>
        </li>
        <li class="nav-item" *ngIf="!isEmployee()">
          <a routerLink="/dashboard/update-employee" routerLinkActive="active" class="nav-link ">
            <i class="bi bi-pencil-square me-2"></i>
            Update Employee
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/requested-leaves" routerLinkActive="active" class="nav-link ">
            <i class="bi bi-calendar3"></i>
            Leave for your approval
          </a>
        </li>
      </ul>
      <hr>
    </div>
    <div >
        <button (click)="logout()" class="btn btn-outline-danger"> 
          <i class="bi bi-box-arrow-right"></i> 
          LOGOUT
        </button>
    </div>
  </div>