<div class="container mt-3">
    <h3>Status of request</h3>
    <ul class="nav nav-pills mt-3">
        <li class="nav-item" *ngFor="let tab of tabs; let i = index">
            <a class="nav-link" [ngClass]="{'active': i === activeTab}" (click)="changeTab(i)">{{ tab }}</a>
        </li>
    </ul>
  
    <div *ngIf="dataLoaded" class="mb-3">
        <div class="row">
            <div *ngFor="let item of tabData" class="col-md-4"> <!-- Adjust column size as needed -->
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title btn btn-warning">leave: {{ item.status }}</h5>
                        <p class="card-text">startDate: {{ item.startDate }}</p>
                        <p class="card-text">endDate: {{ item.endDate }}</p>
                        <p class="card-text">Comments: {{ item.comments }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  